*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav{
    height: 54px;
    width: 100%;
    background-color: #131921;
    color: white;
}
.nav .top-nav{
    height: 58px;
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
}
.nav .top-nav .logo{
    width: 130px;
    height: 52px;
    padding: 16px;
    margin-left: 6px;
}
.nav .top-nav .logo img{
    height: 30px;
    width: 78%;
    /* display: inline-block; */
    margin-top: 3px;

}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
.location{
    height: 50px;
    width: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#text1{
    font-size: 12px;
    color: rgb(203, 193, 193);

}
#text2{
    font-weight: bold;
    font-size: 1vw;
}
.search-bar{
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px 9px 9px 9px ;
    padding-top: 2px;
    flex-grow: 1;
    

}
.search-bar #all{
    width: 59px;
    height: 100%;
    background-color: #e6e6e6;
    text-align: center;
}
.search-bar #all span{
     display: inline-block; 
    color: black;
    line-height: 42px;
}
.search-bar .search{
    height:100% ;
    width:100% ;
    /* flex-grow: 1; */
}
.search-bar .search input{
    height: 99%;
    width: 100%;


}
.search-bar #icon{
    background-color: orange;
    height: 100%;
    width: 46px;
   
    display: flex; 
     align-items: center;
    justify-content: center; 
}

 .fa-magnifying-glass{
    text-align: center;
 }
 .search-bar .search input:focus{
    border:3px solid orange;
    outline: none;

 }
 .search-bar:hover{
    border:3px solid orange;
 }
 .language{
    height: 50px;
width: 54px;
display: flex;
justify-content: space-evenly;
align-items: center;
 gap: 6px;
 padding:0px 5px;


 }
 .language img{
    height: 20px;
    width: 20px;

 }
 .accounts{
    width: 150px;
    height: 50px;
    /* display: flex; 
     
    align-items: center; */

padding: 6px;
 }
 .accounts #account{
    /* display: flex; */
    font-weight: bold;
 }
 .orders{
    text-transform: capitalize;
    width: 80px;
    height: 50px;
    padding: 6px;
 }
 .cart{
    height: 50px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 
 .bottom-nav{
    height: 70px;
    width: 100%;
    /* background-color: black; */
    background-color: rgb(15, 17, 17);
    
 }
 .bottom-nav .moral{
    display: flex;
    justify-content: start; 
     align-items: center;
 }
 .bottom-nav .grid{
    height: 70px;
    width: 100%;
    background-color: black;
 }
 .bottom-nav .grid #jp{
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    font-family: "Amazon Ember", Arial, sans-serif;
    margin-left: 3px;

 }
 .bottom-nav .grid i{
    color: #e6e6e6;
    margin-top: 20px;
    margin-left: 5px;
 }
 .grid #pp{
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    padding-left: 22px;

 }
 .grid #kk{
      font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    padding-left: 16px;
 }
 .grid #jj{
     font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    padding-left: 16px;






 }
 .grid #mm{

     font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    padding-left: 16px;






 }
 .grid #ll{

     font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    padding-left: 16px;




 }
 .grid #hh{
     font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    padding-left: 16px;





 }
 .grid #aa{
     font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    padding-left: 16px;


 }
  .grid #jh{
     font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    padding-left: 16px;
  }
  .grid #kh{
      font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    padding-left: 16px;



  }
  .grid #mh{
      font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    padding-left: 16px;




  }
  .grid #lh{
      font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    padding-left: 16px;





  }
  .grid #bb{
      font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    padding-left: 16px;



  }
  .grid #oo{
      font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    padding-left: 16px;





  }
  .grid #tt{
      font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    padding-left: 16px;







  }
  
body{
    /* overflow-x: hidden; */
    background: gray;
}
.slider{
    /* height: calc(100% - 80px); */
    max-height: 100vh;
    width:98vw;
    /* margin: 0 auto; */
    margin: 0 auto;
    /* position: relative; */
    display: flex;
    justify-content: center;

}
.slider img{
    /* height:100%; */
    height: auto;
    
    width: 100%;
    margin: 0 auto;
    /* position: relative; */

}
 .container{
    width:95%;  
    margin: auto;
    /* background: red; */
    position: absolute;
    top:25%;
    height: 500px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    /* background: green; */

}
.child{
        height:350px ;
    width: 300px;
    background: white;
    box-shadow: 2px 2px 400px white;
    margin-top: 100px;

}
.child h2{
    font-size: 23px;
  padding-top: 23px;
  margin-left: 30px;
}

.child .boxes-p{
    /* height: 460px;
    width: 460px; */
    /* height: 90%; */
    height: auto;
    /* background: rgba(255, 0, 0, 0.375); */
    /* padding: 60px; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;


}

.child .boxes-p .box-image{
    height:110px;
    width: 120px;
    padding: 5px;
    margin-left: 30px;
}
.text-link{
    text-align: left;
      margin-left: 30px;
/* }
.footer-bar{
    height: 700px;
    width: 100%;
    background-color: black;
}
.footer-bar .grid{
    height: 700px;
    width: 100%;
    background-color: black;
    display: flex;
    
}
.footer-bar .heading{
  height: 60px;
  width: 100%;
  background-color:rgb(90, 90, 129) ;
}
.footer-bar .heading h2{
      color:white;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}
.footer-bar .moral h3{
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;

}
.footer-bar .moral{
    /* display: flex;
    justify-content: center;
    align-items: center; */
/* }
.footer-bar .moral ul li{
    color: white;
    font-size: 20px;
    font-weight: bold; */
    /* text-align: center */

} */







.footer {
    background-color:#232f3e;
    padding: 40px 20px;
    color: white;
    font-family: Arial, sans-serif; 
    /* margin-bottom: 300px; */
    height: 1000px; 
     width: 100%; 
     margin-top: 80px;
     
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     background-color:#232f3e;
     height: 900px;
     
     
}

.footer-section {
    
    margin-bottom: 20px;
      width: 23%;
    min-width: 200px;
     
}

.footer-section h3 {
    margin-bottom: 12px;
    color:white;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 6px 0;
    padding-left: 35px;
    padding-top: 8px;
}

.footer-section ul li a {
    text-decoration: none;
    color:white;
}

.footer-section ul li a:hover {
    color:white;
}

 
   
     
    






.slider-product{
    height: 285px;
    width: 94vw;
    margin: 30px auto;
    /* display: flex;
    justify-content: center; */
    position: relative;
    /* top: 100%;
    padding: 10px; */

}
.slider-product .head{
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 12px; 
    gap: 20px;
  


}
.slider-product .head h3{
    margin-left: 9px;

}

#see:hover{
    text-decoration: underline;
}

.slider-product .products{
    width: 96%;
    overflow-x: scroll;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    height: 100%;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: rgba(128, 128, 128, 0.692);
    scrollbar-gutter: 20px;

    

}
.slider-product .products .p-image{
    height: 200px;
    width: 210px;



}
 /* .slider-product .products::scroll-marker{
    background-color: red; 
}  */

.slider-product .products::-webkit-scrollbar{
     background:transparent; 
}


.slider-product .products:hover .products::-webkit-scrollbar{
    width: 45%;
    background-color: gray;
}


.footer-bottom{
    /* height: 200px;
    width: 100%; */

    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid gray;
  

}
.box2 .boxes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    width: 40%;
    background-color: red;
height: 100px;
}

.box2 .boxes .langg{
    padding: 10px;
    width: 180px;
    /* display: block; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: 1px solid white;
    height: 80px;
}
.in{
    border: 1px solid white;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}






